<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2010, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.jboss.processFlow">
    <resources>
        <resource-root path="processFlow-bam-libs.jar"/>
        <resource-root path="processFlow-common.jar"/>
        <resource-root path="processFlow-interfaces.jar"/>
    </resources>
    <dependencies>

        <!-- org.jboss.processFlow uses javax.* APIs that are not implicitly loaded -->
        <module name="javax.api" />
        <module name="javax.transaction.api" />
        <module name="javax.jms.api" />

        <module name="org.jboss.remote-naming" export="true" />
        <module name="org.hornetq" export="true" />

        <module name="org.drools" export="true" slot="${droolsjbpm.slot}" />
        <module name="org.jbpm" export="true" slot="${droolsjbpm.slot}" >
            <imports>
                <!-- JA Bride: 9 July 2012 .... this doesn't seem to work -->
                <include path="META-INF/Taskorm.xml"/>
                <include path="META-INF/*.conf"/>
            </imports>
        </module>

        <!-- needed by bamService, knowledgeSessionService and various org.jboss.processFlow static libraries -->
        <module name="org.jboss.marshalling" export="true" />
        <module name="org.jboss.marshalling.river" export="true" />

    </dependencies>
</module>
