<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>rest-api.jsp</servlet-name>
      <jsp-file>/rest-api.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
      <servlet-name>rest-api.jsp</servlet-name>
      <url-pattern>/*</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
      <welcome-file>rest-api.jsp</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>kie-jbpm-services</web-resource-name>
            <url-pattern>/rest/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!-- as per roles defined in kie-wb web.xml
                https://github.com/droolsjbpm/kie-wb-distributions/blob/master/kie-wb/kie-wb-distribution-wars/src/main/eap6_1/WEB-INF/web.xml#L507
            --> 
            <role-name>analyst</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

   
    <!-- as per roles defined in kie-wb web.xml
         https://github.com/droolsjbpm/kie-wb-distributions/blob/master/kie-wb/kie-wb-distribution-wars/src/main/eap6_1/WEB-INF/web.xml#L507
    --> 
    <security-role>
        <role-name>analyst</role-name>
    </security-role>

</web-app>
