<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.jboss.processFlow.workItemHandlers">
    <resources>
        <!-- add any jar libraries with custom workItemHandlers here -->
    </resources>

    <dependencies>
        <!-- add here any dependencies that your custom workItemHandlers may have -->
    </dependencies>
</module>
